@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600|IBM+Plex+Serif');

/* Globals */
:root {
  --font-sans:'IBM Plex Sans', sans-serif;
  --font-serif: 'IBM Plex Serif', serif;
  --color-secondary: #333;
  --color-link: #635ac7;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  font-weight: 400;
  margin: 0;
}

a {
  color: var(--color-link);
}

/* Snippets */
.site-header {
  font-weight: 600;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

.site-header__quote {
  color: var(--color);
  font-family: var(--font-serif);
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
}

.site-footer {
  background: #eee;
  color: var(--color);
  font-family: var(--font-sans);
  text-align: center;
  padding: 3em 0;
}

/* Image gallery
------------------------------*/

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
  margin-bottom: 3em;
}

.image-gallery a {
  width: 100%;
  display: block;
  margin-right: 1em;
  margin-bottom: 3em;
  overflow: hidden;
}

.gallery-image {
  margin: 0;
  padding-bottom: 20em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 1s cubic-bezier(0.2,0.8,0.2,1);
}

.gallery-image:hover {
  transform: scale(1.2);
}

@media (min-width: 768px) {

  .image-gallery a {
    width: 25%;
  }

  .image-gallery {
    padding: 3em;
  }
}

